@tailwind base;
@tailwind components;
@tailwind utilities;

/* Twardy reset */
body {
  @apply bg-primary text-text-main antialiased selection:bg-brand selection:text-white;
}

/* USUNĘLIŚMY scroll-behavior: smooth - teraz domyślnie jest instant */
html {
  scroll-padding-top: 100px;
}

/* Scrollbar (opcjonalne) */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}